<div class="header">

    <span class="title">
        Hacker News new
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        past 
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        comments 
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        ask 
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        show 
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        jobs 
    </span>
    <span class="devider">
        | 
    </span>
    <span class="each-menu">
        submit 
    </span>
</div>