@import '../../../styles.scss';


.news{

    .each-news{

        .news-title{
            color : $news-title;
        }
    
        .details{
            
            .scores,
            .date,
            .comments{
                font-size: 13px;
            }

            .comments{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
}